<div>   
   <button class="button" type="button" (click)="resetSong()" (dblclick)="buttonPrevious()">
        Previous
    </button>    

    <button class="button" type="button" *ngIf="!playingSound" (click)="playPause()">{{buttonPlayPause}}</button>
    <button class="button" type="button" (click)="buttonNext()">
        Next
    </button>    
</div>
<div class="musicSlider">
    <input type="range" min="0" max="{{currentSong.duration}}" [(ngModel)]="currentSong.currentTime"  class="musicSlider" id="musicSlider">
</div>
<div>
    <input type="range" name="volume" id="musicVolume" min="0" max="1" step="0.05" [(ngModel)]="currentSong.volume" >
</div>
